:root{
    --ambient-color:rgb(46, 11, 11);
    --width: 900px;
    --height: 600px;

}

/* reset style */
body{
    margin: 0;
    font-family: Arial;
    background-color: var(--ambient-color);

}

#scene{
    border: 1px solid white;
    width: var(--width);
    height: var(--height);

    background-image: url(images/johannes-plenio-RwHv7LgeC7s-unsplash\ \(1\).jpg);
    background-size: cover;

    /* background-repeat: no-repeat; */

    position: absolute;
    overflow: hidden;

    perspective: 500px;


}

.common{
    width: calc(var(--width) / 10 );
    height: calc(var(--height) / 10 ) ;
     /* border: 1px solid white;
    background-color: white; */

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#scene .leaf{
    background-image: url(images/leaves/maple_leaf_on_a_transparent_background__by_prussiaart_dbkpey8-fullview.png);

    position: absolute;

    /* apply the animations */
    animation: fall 10s ease-in;
    animation-fill-mode: forwards;
      animation-iteration-count: 4;

}

#scene .leaf1{
    background-image: url(images/leaves/leaf1.png);
  
    position: absolute;
    left: 20%;

    animation: fall1 7s ease-in;
    animation-delay: 0.5s;
    animation-iteration-count: 4;
    animation-fill-mode: forwards;
}

#scene .leaf2{
    
    background-image: url(images/leaves/leaf2.png);
 
    position: absolute;
    left:40%;

    animation: fall2 8s ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}
#scene .leaf3{
    background-image: url(images/leaves/leaf3.png);

    position: absolute;
    left: 60%;

    animation: fall3 7s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count: 4;

}
#scene .leaf4{
    
    background-image: url(images/leaves/leaf4.png);
 
    position: absolute;
    left: 80%;

    animation: fall4 5s ease-in;
    animation-fill-mode: forwards;
      animation-iteration-count: 5;

}

/* css animations */
@keyframes fall{
    from{
        top:0%;
        left: 0%;
        transform: rotateZ(0) rotateX(0) scale(.2);
    }
    to{
        top: 100%;
        left:5%;
        transform: rotateZ(2turn) rotateX(5turn) scale(1);
    }

}
@keyframes fall1{
    from{
        top:10%;
        left: 20%;
        transform: rotateZ(0) rotateY(0) scale(.3);
    }
    to{
        top: 100%;
        left:40%;
        transform: rotateZ(2turn) rotateY(1turn) scale(1);
    }

}
@keyframes fall2{
    from{
        top:0%;
        left: 40%;
        transform: rotateZ(0) rotateY(0) scale(.3);
    }
    to{
        top: 100%;
        left:10%;
        transform: rotateZ(3turn) rotateY(1turn) scale(1);
    }

}
@keyframes fall3{
    from{
        top:40%;
        left: 60%;
        transform: rotateY(0) scale(.3);
    }
    to{
        top: 100%;
        left:70%;
        transform: rotateY(2turn) scale(1);
    }

}

@keyframes fall4{
    from{
        top:60%;
        left: 80%;
        transform:  rotateX(0) scale(.3);
    }
    to{
        top: 100%;
        left:100%;
        transform:  rotateX(1turn) scale(1);
    }

}



/* 
Hw1: find 4 more leave models and clean the bg,grafical editor -gimp photoshop,pixlr online
Hw2: try to add a few more animations variants



*/