:root{
    /* scene variables */
    --ambient-color:rgb(46, 11, 11);
    --width: 900px;
    --height: 600px;

    /*  fall animations variables */
    --fall-start-top:0;
    --fall-start-left:0%;
    --fall-start-rx:0;
    --fall-start-ry:0;
    --fall-start-rz:0;
    --fall-start-s:0.3;
    --fall-end-top:100%;
    --fall-end-left:100%;
    --fall-end-rx:1turn;
    --fall-end-ry:1turn;
    --fall-end-rz:1turn;
    --fall-end-s:.7;

    --fall-duration:20s;
    --fall-delay:0s;

    /* shine animations variables */
    --shine-start-angle: -.1turn;
    --shine-end-angle: -.11turn;

    --primary-color: #fdf895;
    --secondary-color:#d78356;
    --tertiary-color:#f5e087df;

    --ray2-delay:2.1s;
  
    

}

/* reset style */
body{
    margin: 0;
    font-family: Arial;
    background-color: var(--ambient-color);

}



.background{
    background-image: url(images/backgrounds/background1.jpg);
    background-size: cover;

    /* background-repeat: no-repeat; */

}

.container{
    border: 1px solid white;
    width: var(--width);
    height: var(--height);
    position: absolute;
    overflow: hidden;

}

.scene-mask-1{
   
    perspective: 500px;

    /* Css masking */
    -webkit-mask-image: url(images/backgrounds/background-1-mask-1.svg);
    -webkit-mask-size:cover;


}

.scene-mask-2{
   
    perspective: 500px;

    /* Css masking */
    -webkit-mask-image: url(images/backgrounds/background-1-mask-2.svg);
    -webkit-mask-size:cover;


}

.leaf{
    width: calc(var(--width) / 10 );
    height: calc(var(--height) / 10 ) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -20%;


     /* border: 1px solid white;
    background-color: white; */

}

.leaf-1{
    background-image: url(images/leaves/leaf1.png);

}

.fall{
    /* apply the animations */
    animation: fall var(--fall-duration) ease-in infinite;
    animation-fill-mode: forwards;
    animation-delay: var(--fall-delay);

}


.leaf-2{
    background-image: url(images/leaves/leaf2.png);
  
}


.leaf-3{
    
    background-image: url(images/leaves/leaf3.png);

}

.leaf-4{
    background-image: url(images/leaves/leaf4.png);

}

.leaf-5{
    
    background-image: url(images/leaves/maple_leaf_on_a_transparent_background__by_prussiaart_dbkpey8-fullview.png);

}

/* css animations */
@keyframes fall{
    from{
        left:var(--fall-start-left);
        top:var(--fall-start-top);
        transform: rotateX(var(--fall-start-rx) ) rotateY(var(--fall-start-ry)) rotateZ(var(--fall-start-rz))  scale(var(--fall-start-s));
    }
    to{
        left: var(--fall-end-left);
        top: var(--fall-end-top);
        transform: rotateX(var(--fall-end-rx)) rotateY(var(--fall-end-ry)) rotateZ(var(--fall-end-rz)) scale(var(--fall-end-s));
    }

}

/* HW1: 
    same as leaves-refactor the code using the variables

    HW2: polish the composition
*/


.fog {
    width: 1600px;
    height: 800px;
}

.fog-1{
    background-image: url(images/fog/fog-1.png); 
    background-size: contain;
    background-position:left top ;
    opacity: .75;
    filter: sepia(100%) saturate(1000%) hue-rotate(328deg) blur(70px);
}

.slide{
    animation: slide 500s linear;
}

@keyframes slide{
    from{
        background-position-x:0 ;
    }
    to{
        background-position-x: 10000px;
    }
}

.ray{
    width: 1600px;
    height: 20px;
    /* border: 3px solid white; */
    position: absolute;
    top: 45px;
    left: -300px;

    background-image: 
        conic-gradient(
            transparent .745turn,  /* 0.5+0.1*/
            var(--primary-color),
            var(--secondary-color), 
            var(--primary-color), 
            var(--tertiary-color), 
            var(--primary-color) , 
            transparent .755turn);  /*1.-0.1*/
    
}

.ray-1{
    transform: rotate(-.1turn);
    mix-blend-mode: overlay;
    opacity: .5;

    animation: shine 5s infinite alternate;
}
.ray-2{
    --shine-start-angle:-.05turn;
    --shine-end-angle:-.055turn;
    transform: rotate(-.09turn);
    mix-blend-mode: soft-light;
    opacity: .5;

    animation: shine 5s infinite alternate;
    animation-delay: var(--ray2-delay);
}

@keyframes shine{
    from{
        transform: rotate(var(--shine-start-angle));
    }
    to{
        transform: rotate(var(--shine-end-angle));
    }
}




/* 
Hw1: find 4 more leave models and clean the bg,grafical editor -gimp photoshop,pixlr online
Hw2: try to add a few more animations variants



*/