body{
    background-color: #333;
    margin: 0;
}

.tiles{
    margin: 48px auto;
    width: max-content;
    display: grid;
    /* border: 1px solid white; */
    grid-template-columns: repeat(4,100px);
    gap: 16px;

}

.tile{
    height: 100px;
    background-color: #111;
    border: 5px solid #444;
    cursor: pointer;
}